/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}*/

#sp-appBar {
    display: none;
}

#spSiteHeader {
    display: none !important;
}

#spCommandBar {
    display: none !important;
}

.j_a_beed2cf1 {
    display: none !important;
}

@media screen and (min-width: 1024px) {
    .a_e_50a7110f:not(.b_e_50a7110f) .r_e_50a7110f {

        max-width: none !important;
    }
}

.ps-menuitem-root {
    display: block !important;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: none;
    outline: 0 !important;
}

.ps-menu-label {
    color: #3f4254;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 13px;
}

@media screen and (min-width: 1024px) {
    .a_a_50a7110f:not(.e_a_50a7110f) .h_a_50a7110f {
        max-width: none;
    }
}

.a_a_50a7110f:not(.e_a_50a7110f):not(.b_a_50a7110f) {
    padding: 0 0px;
}

.a_c_50a7110f:not(.e_c_50a7110f) {
    padding-left: 0px;
    padding-right: 0px;
}

.a_b_50a7110f:not(.e_b_50a7110f):not(.o_b_50a7110f) {
    margin: 0px 0;
    padding: 0px;
}

.dropdownItemf:hover {
    /*background-color: #f0f0f0;*/
    background-color: #f5f8facc !important;
    color: #009ef7;
}


.profileName {
    font-weight: 500px !important;
    font-size: 18px !important;
}

.ps-sidebar-container {

    background-color: #fff !important;
}

.ps-sidebar-root {
    background-color: #fff;
}

.a_a_50a7110f:not(.e_a_50a7110f) .h_a_50a7110f {
    padding-right: 0px;
    padding-left: 0px;
}

body {
    background-color: #f1f1f1;
}


.ps-menu-button {
    color: #000 !important;
    height: 40px !important;
}

.ps-menu-button:hover {
    background-color: #fff !important;
    color: #009ef7 !important;

}

.css-18unl23 {
    transition: height 300ms !important;
    box-sizing: border-box !important;
    /* background-color: rgb(251, 252, 253) !important;*/
    position: static !important;
    transform: none !important;
}

.ps-menu-root {
    height: auto;
    overflow-y: hidden;
    position: relative;
    --scrollbar-space: 0.25rem;
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
    padding-right: 15px;
}

.css-honxw6 {
    border-right: 2px solid #a4a7b9 !important;
    border-bottom: 2px solid #a4a7b9 !important;
    width: 8px !important;
    height: 8px !important;
}

.css-jn69v9 {
    border-right: 2px solid #a4a7b9 !important;
    border-bottom: 2px solid #a4a7b9 !important;
    width: 8px !important;
    height: 8px !important;
}

.ps-menu-label:hover {
    color: #009ef7 !important;
}



.ps-menuitem-root:hover {
    color: #009ef7 !important;
}

/*Card CSS*/

.ms-StackItem {
    border-radius: .475rem !important;
    box-shadow: 0 0 20px 0 rgba(76, 87, 125, .02) !important;
    border: none !important;
}


/*Table CSS*/

.rt-thead {
    min-width: 500px;
    color: #b5b5c3 !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    text-align: left !important;
}

.ReactTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    border-bottom: 1px solid #111;
    text-align: left;
    border: none !important;
    box-shadow: none !important;
}

.ReactTable .rt-thead .rt-tr .rt-resizable-header-content {
    text-align: left !important;
}

.ReactTable .rt-thead .rt-td {
    border-right: none !important;
    box-shadow: none !important;
}

.ReactTable .rt-thead .rt-th {
    border-right: none !important;
    box-shadow: none !important;
}

.ReactTable .rt-tbody .rt-td {
    border-right: none !important;

}

.ReactTable .rt-thead {
    box-shadow: none !important;
}

.rt-tr {
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: #eff2f5 !important;
    padding: 5px 0px !important;
}

input {
    width: 100%;
    background-color: #f5f8fa !important;
    border-color: #f5f8fa !important;
    color: #5e6278 !important;
    transition: color .2s ease, background-color .2s ease !important;
    height: 40px !important;
    /*padding: .75rem 1rem !important;
    font-size: 1.1rem !important;*/
    font-weight: 500 !important;
    border-radius: .475rem !important;
    border: 1px solid #e4e6ef !important;
}

.ms-Panel-main {
    border-radius: 5px !important;
}

.ms-BasePicker-text {
    border: none !important;
}

.ms-TextField-fieldGroup {
    border: none !important;
}