@import '~@fluentui/react/dist/sass/References.scss';


.row1-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;

  .card-container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 300px;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.05);
    }

    .card-content {
      position: relative;

      .card-image {
        img {
          width: 100%;
          height: 180px;
          border-radius: 10px 10px 0 0;
        }
      }

      .card-details {
        text-align: center;
        padding: 15px;

        .card-title {
          font-size: 18px;
          font-weight: 600;
          margin: 10px 0;
        }

        .card-link {
          color: #0078d4;
          font-size: 18px;
          text-decoration: none;

          &:hover {
            color: #005a9e;
          }
        }

        .fa-arrow-right {
          margin-left: 10px;
        }
      }

      .card-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }
    }
  }

  .arrow-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(https://ascenworktech.sharepoint.com/sites/SPFXDMS/SiteAssets/pngtree-right-arrow-image_1129437.jpg) no-repeat center center;
    background-size: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .arrow-button:hover {
    transform: scale(1.1);
  }

}



.dashcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.dashcard {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  text-decoration: none;
}

.dashcard__image {
  width: 100%;
  height: 300px;
}

.dashcard__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-top-right-radius: 40px;
  background-color: #fff;
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.dashcard:hover .dashcard__overlay {
  transform: translateY(0);
}

.dashcard__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 25px;
  border-top-right-radius: 0px;
  background-color: #fff;
  transform: translateY(-100%);
  transition: .2s ease-in-out;

}

.dashcard__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.dashcard__arc path {
  fill: #fff;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z") !important;
}

.dashcard:hover .dashcard__header {
  transform: translateY(0);
}

.dashcard__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashcard__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.dashcard__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.dashcard__status {
  font-size: .8em;
  color: #D7BDCA;
}

.dashcard__description {
  padding: 4px;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  // -webkit-line-clamp: 3;
  overflow: hidden;
}

.grid {
  @include ms-Grid;
}

.row {
  @include ms-Grid-row;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.col3 {
  @include ms-Grid-col;
  @include ms-md3;
}